{
  "patch_version": "X.Y",
  "name": "<short human-readable name>",
  "applied_at": "",
  "depends_on": ["X.(Y-1)"],
  "files_modified": [],
  "files_added": [],
  "migrations": [],
  "rollback_commit": "",
  "audit_refs": [],
  "tests": []
}
